@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
* {  
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.3rem;
}

*::-webkit-scrollbar-track {
  background: #1e1e24;
  
}

*::-webkit-scrollbar-thumb {
  background-image: radial-gradient(at 50% 0, #fafafa, transparent 70%), 
        linear-gradient(60deg, rgba(23, 170, 196, 0.911), white, pink);
} 

#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('preloader.gif')
	 no-repeat center center;	
  z-index: 99999;
}

#mainheader{
  background-color: rgb(255,192,203,.7);
  font-family: Lobster,fantasy, sans-serif;
  margin-left: 2%;
  padding:0px;
  position: absolute;
  width: 30%;
  height: 6.7%;
  border-left: 10px solid rgb(255,20,147);
}
#mainheader h1{
  margin: 0;
  position: relative;
}



a:link{
  color: blue;
}
a:hover{
  color: black;
  background: rgb(255,20,147,0.2);
}
a{
  text-decoration: none;
}
.main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
 
}

.mainarticle {  
  width: 100%;
  height: 100%;
  
}
.musicarticle {
  margin: 20px;
 
  padding: 20px;
  width: 30%;
  height: 100%; 
  
  
}

article {
  width: 100%;
  padding:20px;
  background-color: #b1becc; 

}
article img{
  max-width: 80%;
  height: 100px;
  display: inline-block;
}
article h4,p{
  margin:0px;
}
header,h4{
  margin: 10px 10px 0px 10px;
}
header p{
  text-decoration: overline;
  margin: 0px;
  color: #df80ff;
}


ul{
  list-style-type: none;
  margin: 0px 2px 50px 2px;
  padding: 0px 2px 0px 1000px;
  background-color:pink;
  border: 1px solid ;
  border-right: 1px;
  font-style:oblique ;
  display: flex;
  float: right;
 
  text-shadow: 1px -1px 5px;
}
li{
      padding: 10px;
    }
    input[type=text] {
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('searchicon.png');
      background-position: 10px 10px; 
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
      width: 100%;
    }
h2{
  padding: 10px;
  top: 0;
  right: 0 ;
  left: 0;
  bottom: 0;
  margin: auto;
  font-family: monospace;
  text-align: left;
  border: 1px solid;
  box-shadow: 1px 2px 3px;
  font-style: italic;
 }
#mainarticle p{
  
  font-family: roboto condensed;
  word-spacing: 4px;
  /* margin: auto; */
  padding: 5px;
  
}
#mainarticle img{
  margin:10px 30px 40px 30px; 
  width: 80%;
  height: 460px;
  object-fit: contain;

}
img:active{
  opacity: .5;
}
#sign_in,#log_in{
  float: right;
  background-color: lightpink;
  box-shadow: 2px 4px;
  cursor: pointer;
}
button:hover{
  background-color:pink;

}

@media (max-width: 700px) {
  #mainheader{
    position: relative;
    padding: 0%;
    width: 40%;
  }

  .main {
    flex-direction: column;
  }

  .musicarticle {
    width: 88%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  ul {
    margin: 0;
  }
  .nav {
    background-color:pink;
    bottom: 0vh;
    position: fixed;
    width: 100%;
   
  }
  .nav ul {
    width: 100%;
  }
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
 
}
